/* === General === */

html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}


/* === Login === */

.card {
    max-width: 330px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .75);
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin .btn {
    width: 85%;
}

.bg {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 110px;
    z-index: -10;
}


/* === Footer === */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* line-height: 60px; */
    color: #fff;
}

.footer-title-left {
    display: flex;
    justify-content: center;
    font-family: Lato;
}

.footer-title-right {
    display: flex;
    justify-content: center;
    font-family: Lato;
}